<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Editing Project Attribution</h1>
				<%= render 'form', project_relation: @project_relation, project_options: @project_options, user_options: @user_options %><br>
				<%= link_to 'Cancel', project_relations_path, class: "button is-dark" %>
			</div>
		</div>
	</div>
</div>
