<table class="table">
  <thead>
    <tr>
      <th>Id</th> 
      <th>Reference</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project %></td>
        <td><%= project.reference %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path(comment: @project) %> |
<%= link_to 'Back', comments_path %>